/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE  0
#define LOWER 1
#define RAISE 2
#define MGEAR1 3
#define MGEAR2 4
#define MGEAR3 5
#define MGEAR4 6
#define ADJUST 7

// Define your default speeds
#define ZMK_POINTING_DEFAULT_MOVE_VAL 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10

// Define custom mouse movement speeds for different gears
#define MOUSE_MOVE_GEAR1_VAL 200
#define MOUSE_MOVE_GEAR2_VAL 600
#define MOUSE_MOVE_GEAR3_VAL 1200
#define MOUSE_MOVE_GEAR4_VAL 2400

// Define custom scroll speeds for different gears
#define MOUSE_SCROLL_GEAR1_VAL 5
#define MOUSE_SCROLL_GEAR2_VAL 10
#define MOUSE_SCROLL_GEAR3_VAL 20
#define MOUSE_SCROLL_GEAR4_VAL 40

// New Custom Defines
#define HYPER LC(LA(LS(LGUI)))
#define MEH LC(LS(LALT))
#define COPY LC(INS)
#define PASTE LS(INS)

/ {
    combos {
        compatible = "zmk,combos";

        fd_ctrl {
            bindings = <&kp LCTRL>;
            key-positions = <16 15>;
        };

        jk_ctrl {
            bindings = <&kp RCTRL>;
            key-positions = <19 20>;
        };

        fs_alt {
            bindings = <&kp LALT>;
            key-positions = <16 14>;
        };

        jl_alt {
            bindings = <&kp RALT>;
            key-positions = <19 21>;
        };

        fe_gui {
            bindings = <&kp LGUI>;
            key-positions = <16 3>;
        };

        ji_gui {
            bindings = <&kp RGUI>;
            key-positions = <19 8>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
//    ┌───────────────────┬───┬───┬──────────────┬────────────┬─────────────┐       ┌─────────────┬────────────┬────────────┬───┬───┬────────────────┐
//    │         ⇥         │ Q │ W │      E       │     R      │      T      │       │      Y      │     U      │     I      │ O │ P │       ⏎        │
//    ├───────────────────┼───┼───┼──────────────┼────────────┼─────────────┤       ├─────────────┼────────────┼────────────┼───┼───┼────────────────┤
//    │ LT MGEAR1 LC(TAB) │ A │ S │      D       │     F      │      G      │       │      H      │     J      │     K      │ L │ ; │       '        │
//    ├───────────────────┼───┼───┼──────────────┼────────────┼─────────────┤       ├─────────────┼────────────┼────────────┼───┼───┼────────────────┤
//    │ LT ADJUST LG(TAB) │ Z │ X │      C       │     V      │      B      │       │      N      │     M      │     ,      │ . │ / │ MT LC(LALT) 🌍 │
//    └───────────────────┴───┴───┼──────────────┼────────────┼─────────────┤       ├─────────────┼────────────┼────────────┼───┴───┴────────────────┘
//                                │ MT MEH LC(W) │ LT LOWER ⎋ │ MT LSHIFT ␣ │       │ MT RSHIFT ␣ │ LT RAISE ⌫ │ MT HYPER ⌦ │
//                                └──────────────┴────────────┴─────────────┘       └─────────────┴────────────┴────────────┘
  &kp TAB              &kp Q   &kp W   &kp E           &kp R           &kp T                      &kp Y              &kp U            &kp I           &kp O     &kp P      &kp RET
  &lt MGEAR1 LC(TAB)   &kp A   &kp S   &kp D           &kp F           &kp G                      &kp H              &kp J            &kp K           &kp L     &kp SEMI   &kp SQT
  &lt ADJUST LG(TAB)   &kp Z   &kp X   &kp C           &kp V           &kp B                      &kp N              &kp M            &kp COMMA       &kp DOT   &kp FSLH   &mt LC(LALT) K_CMENU
                                       &mt MEH LC(W)   &lt LOWER ESC   &mt LSHIFT SPACE           &mt RSHIFT SPACE   &lt RAISE BSPC   &mt HYPER DEL
            >;
        };

        lower_layer {
            bindings = <
//    ┌───┬───┬───┬────┬────┬───┐       ┌───┬───┬───┬───┬───┬───┐
//    │   │ 1 │ 2 │ 3  │ 4  │ 5 │       │ 6 │ 7 │ 8 │ 9 │ 0 │   │
//    ├───┼───┼───┼────┼────┼───┤       ├───┼───┼───┼───┼───┼───┤
//    │ ⇪ │   │   │    │    │   │       │ ← │ ↓ │ ↑ │ → │ ⇱ │ ⇞ │
//    ├───┼───┼───┼────┼────┼───┤       ├───┼───┼───┼───┼───┼───┤
//    │   │   │   │ 📄 │ 📋 │   │       │   │   │   │   │ ⇲ │ ⇟ │
//    └───┴───┴───┼────┼────┼───┤       ├───┼───┼───┼───┴───┴───┘
//                │    │    │   │       │   │   │   │
//                └────┴────┴───┘       └───┴───┴───┘
  &trans       &kp N1   &kp N2   &kp N3     &kp N4      &kp N5           &kp N6     &kp N7     &kp N8   &kp N9      &kp N0     &trans
  &caps_word   &trans   &trans   &trans     &trans      &trans           &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT   &kp HOME   &kp PG_UP
  &trans       &trans   &trans   &kp COPY   &kp PASTE   &trans           &trans     &trans     &trans   &trans      &kp END    &kp PG_DN
                                 &trans     &trans      &trans           &trans     &trans     &trans
            >;
        };

        raise_layer {
            bindings = <
//    ┌───┬────┬────┬─────┬─────┬─────┐       ┌───┬───┬───┬───┬───┬───┐
//    │   │ !  │ @  │  #  │  $  │ %%  │       │ ^ │ & │ * │ ( │ ) │   │
//    ├───┼────┼────┼─────┼─────┼─────┤       ├───┼───┼───┼───┼───┼───┤
//    │   │ F1 │ F2 │ F3  │ F4  │ F5  │       │ - │ = │ [ │ ] │ \ │ ` │
//    ├───┼────┼────┼─────┼─────┼─────┤       ├───┼───┼───┼───┼───┼───┤
//    │   │ F6 │ F7 │ F8  │ F9  │ F10 │       │ _ │ + │ { │ } │ | │ ~ │
//    └───┴────┴────┼─────┼─────┼─────┤       ├───┼───┼───┼───┴───┴───┘
//                  │ F11 │ F12 │ F13 │       │   │   │   │
//                  └─────┴─────┴─────┘       └───┴───┴───┘
  &trans   &kp EXCL   &kp AT   &kp HASH   &kp DLLR   &kp PRCNT           &kp CARET   &kp AMPS    &kp ASTRK   &kp LPAR   &kp RPAR   &trans
  &trans   &kp F1     &kp F2   &kp F3     &kp F4     &kp F5              &kp MINUS   &kp EQUAL   &kp LBKT    &kp RBKT   &kp BSLH   &kp GRAVE
  &trans   &kp F6     &kp F7   &kp F8     &kp F9     &kp F10             &kp UNDER   &kp PLUS    &kp LBRC    &kp RBRC   &kp PIPE   &kp TILDE
                               &kp F11    &kp F12    &kp F13             &trans      &trans      &trans
            >;
        };

        gear1_mouse_layer {
            bindings = <
//    ┌───┬───┬───┬───┬───┬───┐       ┌─────────────────────────────────┬─────────────────────────────────┬────────────────────────────────┬────────────────────────────────┬─────┬───┐
//    │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │       │ MOVE_X(-MOUSE_SCROLL_GEAR1_VAL) │ MOVE_Y(-MOUSE_SCROLL_GEAR1_VAL) │ MOVE_Y(MOUSE_SCROLL_GEAR1_VAL) │ MOVE_X(MOUSE_SCROLL_GEAR1_VAL) │  ∅  │ ∅ │
//    ├───┼───┼───┼───┼───┼───┤       ├─────────────────────────────────┼─────────────────────────────────┼────────────────────────────────┼────────────────────────────────┼─────┼───┤
//    │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │       │  MOVE_X(-MOUSE_MOVE_GEAR1_VAL)  │  MOVE_Y(MOUSE_MOVE_GEAR1_VAL)   │ MOVE_Y(-MOUSE_MOVE_GEAR1_VAL)  │  MOVE_X(MOUSE_MOVE_GEAR1_VAL)  │  ∅  │ ∅ │
//    ├───┼───┼───┼───┼───┼───┤       ├─────────────────────────────────┼─────────────────────────────────┼────────────────────────────────┼────────────────────────────────┼─────┼───┤
//    │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │       │              🖱️B4               │               🖱️L               │              🖱️R               │              🖱️F5              │ 🖱️M │ ∅ │
//    └───┴───┴───┼───┼───┼───┤       ├─────────────────────────────────┼─────────────────────────────────┼────────────────────────────────┼────────────────────────────────┴─────┴───┘
//                │ ∅ │ ∅ │ ∅ │       │            MO MGEAR4            │            MO MGEAR3            │           MO MGEAR2            │
//                └───┴───┴───┘       └─────────────────────────────────┴─────────────────────────────────┴────────────────────────────────┘
  &none   &none   &none   &none   &none   &none           &msc MOVE_X(-MOUSE_SCROLL_GEAR1_VAL)   &msc MOVE_Y(-MOUSE_SCROLL_GEAR1_VAL)   &msc MOVE_Y(MOUSE_SCROLL_GEAR1_VAL)   &msc MOVE_X(MOUSE_SCROLL_GEAR1_VAL)   &none      &none
  &none   &none   &none   &none   &none   &none           &mmv MOVE_X(-MOUSE_MOVE_GEAR1_VAL)     &mmv MOVE_Y(MOUSE_MOVE_GEAR1_VAL)      &mmv MOVE_Y(-MOUSE_MOVE_GEAR1_VAL)    &mmv MOVE_X(MOUSE_MOVE_GEAR1_VAL)     &none      &none
  &none   &none   &none   &none   &none   &none           &mkp MB4                               &mkp MB1                               &mkp MB2                              &mkp MB5                              &mkp MB3   &none
                          &none   &none   &none           &mo MGEAR4                             &mo MGEAR3                             &mo MGEAR2
            >;
        };

        gear2_mouse_layer {
            bindings = <
//    ┌───┬───┬───┬───┬───┬───┐       ┌─────────────────────────────────┬─────────────────────────────────┬────────────────────────────────┬────────────────────────────────┬─────┬───┐
//    │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │       │ MOVE_X(-MOUSE_SCROLL_GEAR2_VAL) │ MOVE_Y(-MOUSE_SCROLL_GEAR2_VAL) │ MOVE_Y(MOUSE_SCROLL_GEAR2_VAL) │ MOVE_X(MOUSE_SCROLL_GEAR2_VAL) │  ∅  │ ∅ │
//    ├───┼───┼───┼───┼───┼───┤       ├─────────────────────────────────┼─────────────────────────────────┼────────────────────────────────┼────────────────────────────────┼─────┼───┤
//    │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │       │  MOVE_X(-MOUSE_MOVE_GEAR2_VAL)  │  MOVE_Y(MOUSE_MOVE_GEAR2_VAL)   │ MOVE_Y(-MOUSE_MOVE_GEAR2_VAL)  │  MOVE_X(MOUSE_MOVE_GEAR2_VAL)  │  ∅  │ ∅ │
//    ├───┼───┼───┼───┼───┼───┤       ├─────────────────────────────────┼─────────────────────────────────┼────────────────────────────────┼────────────────────────────────┼─────┼───┤
//    │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │       │              🖱️B4               │               🖱️L               │              🖱️R               │              🖱️B4              │ 🖱️M │ ∅ │
//    └───┴───┴───┼───┼───┼───┤       ├─────────────────────────────────┼─────────────────────────────────┼────────────────────────────────┼────────────────────────────────┴─────┴───┘
//                │ ∅ │ ∅ │ ∅ │       │                ∅                │                ∅                │               ∅                │
//                └───┴───┴───┘       └─────────────────────────────────┴─────────────────────────────────┴────────────────────────────────┘
  &none   &none   &none   &none   &none   &none           &msc MOVE_X(-MOUSE_SCROLL_GEAR2_VAL)   &msc MOVE_Y(-MOUSE_SCROLL_GEAR2_VAL)   &msc MOVE_Y(MOUSE_SCROLL_GEAR2_VAL)   &msc MOVE_X(MOUSE_SCROLL_GEAR2_VAL)   &none      &none
  &none   &none   &none   &none   &none   &none           &mmv MOVE_X(-MOUSE_MOVE_GEAR2_VAL)     &mmv MOVE_Y(MOUSE_MOVE_GEAR2_VAL)      &mmv MOVE_Y(-MOUSE_MOVE_GEAR2_VAL)    &mmv MOVE_X(MOUSE_MOVE_GEAR2_VAL)     &none      &none
  &none   &none   &none   &none   &none   &none           &mkp MB4                               &mkp MB1                               &mkp MB2                              &mkp MB4                              &mkp MB3   &none
                          &none   &none   &none           &none                                  &none                                  &none
            >;
        };

        gear3_mouse_layer {
            bindings = <
//    ┌───┬───┬───┬───┬───┬───┐       ┌─────────────────────────────────┬─────────────────────────────────┬────────────────────────────────┬────────────────────────────────┬─────┬───┐
//    │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │       │ MOVE_X(-MOUSE_SCROLL_GEAR3_VAL) │ MOVE_Y(-MOUSE_SCROLL_GEAR3_VAL) │ MOVE_Y(MOUSE_SCROLL_GEAR3_VAL) │ MOVE_X(MOUSE_SCROLL_GEAR3_VAL) │  ∅  │ ∅ │
//    ├───┼───┼───┼───┼───┼───┤       ├─────────────────────────────────┼─────────────────────────────────┼────────────────────────────────┼────────────────────────────────┼─────┼───┤
//    │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │       │  MOVE_X(-MOUSE_MOVE_GEAR3_VAL)  │  MOVE_Y(MOUSE_MOVE_GEAR3_VAL)   │ MOVE_Y(-MOUSE_MOVE_GEAR3_VAL)  │  MOVE_X(MOUSE_MOVE_GEAR3_VAL)  │  ∅  │ ∅ │
//    ├───┼───┼───┼───┼───┼───┤       ├─────────────────────────────────┼─────────────────────────────────┼────────────────────────────────┼────────────────────────────────┼─────┼───┤
//    │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │       │              🖱️B4               │               🖱️L               │              🖱️R               │              🖱️F5              │ 🖱️M │ ∅ │
//    └───┴───┴───┼───┼───┼───┤       ├─────────────────────────────────┼─────────────────────────────────┼────────────────────────────────┼────────────────────────────────┴─────┴───┘
//                │ ∅ │ ∅ │ ∅ │       │                ∅                │                ∅                │               ∅                │
//                └───┴───┴───┘       └─────────────────────────────────┴─────────────────────────────────┴────────────────────────────────┘
  &none   &none   &none   &none   &none   &none           &msc MOVE_X(-MOUSE_SCROLL_GEAR3_VAL)   &msc MOVE_Y(-MOUSE_SCROLL_GEAR3_VAL)   &msc MOVE_Y(MOUSE_SCROLL_GEAR3_VAL)   &msc MOVE_X(MOUSE_SCROLL_GEAR3_VAL)   &none      &none
  &none   &none   &none   &none   &none   &none           &mmv MOVE_X(-MOUSE_MOVE_GEAR3_VAL)     &mmv MOVE_Y(MOUSE_MOVE_GEAR3_VAL)      &mmv MOVE_Y(-MOUSE_MOVE_GEAR3_VAL)    &mmv MOVE_X(MOUSE_MOVE_GEAR3_VAL)     &none      &none
  &none   &none   &none   &none   &none   &none           &mkp MB4                               &mkp MB1                               &mkp MB2                              &mkp MB5                              &mkp MB3   &none
                          &none   &none   &none           &none                                  &none                                  &none
            >;
        };

        gear4_mouse_layer {
            bindings = <
//    ┌───┬───┬───┬───┬───┬───┐       ┌─────────────────────────────────┬─────────────────────────────────┬────────────────────────────────┬────────────────────────────────┬─────┬───┐
//    │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │       │ MOVE_X(-MOUSE_SCROLL_GEAR4_VAL) │ MOVE_Y(-MOUSE_SCROLL_GEAR4_VAL) │ MOVE_Y(MOUSE_SCROLL_GEAR4_VAL) │ MOVE_X(MOUSE_SCROLL_GEAR4_VAL) │  ∅  │ ∅ │
//    ├───┼───┼───┼───┼───┼───┤       ├─────────────────────────────────┼─────────────────────────────────┼────────────────────────────────┼────────────────────────────────┼─────┼───┤
//    │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │       │  MOVE_X(-MOUSE_MOVE_GEAR4_VAL)  │  MOVE_Y(MOUSE_MOVE_GEAR4_VAL)   │ MOVE_Y(-MOUSE_MOVE_GEAR4_VAL)  │  MOVE_X(MOUSE_MOVE_GEAR4_VAL)  │  ∅  │ ∅ │
//    ├───┼───┼───┼───┼───┼───┤       ├─────────────────────────────────┼─────────────────────────────────┼────────────────────────────────┼────────────────────────────────┼─────┼───┤
//    │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │       │              🖱️B4               │               🖱️L               │              🖱️R               │              🖱️B4              │ 🖱️M │ ∅ │
//    └───┴───┴───┼───┼───┼───┤       ├─────────────────────────────────┼─────────────────────────────────┼────────────────────────────────┼────────────────────────────────┴─────┴───┘
//                │ ∅ │ ∅ │ ∅ │       │                ∅                │                ∅                │               ∅                │
//                └───┴───┴───┘       └─────────────────────────────────┴─────────────────────────────────┴────────────────────────────────┘
  &none   &none   &none   &none   &none   &none           &msc MOVE_X(-MOUSE_SCROLL_GEAR4_VAL)   &msc MOVE_Y(-MOUSE_SCROLL_GEAR4_VAL)   &msc MOVE_Y(MOUSE_SCROLL_GEAR4_VAL)   &msc MOVE_X(MOUSE_SCROLL_GEAR4_VAL)   &none      &none
  &none   &none   &none   &none   &none   &none           &mmv MOVE_X(-MOUSE_MOVE_GEAR4_VAL)     &mmv MOVE_Y(MOUSE_MOVE_GEAR4_VAL)      &mmv MOVE_Y(-MOUSE_MOVE_GEAR4_VAL)    &mmv MOVE_X(MOUSE_MOVE_GEAR4_VAL)     &none      &none
  &none   &none   &none   &none   &none   &none           &mkp MB4                               &mkp MB1                               &mkp MB2                              &mkp MB4                              &mkp MB3   &none
                          &none   &none   &none           &none                                  &none                                  &none
            >;
        };

        adjust_layer {
            bindings = <
//    ┌──────┬──────┬──────┬──────┬──────┬──────┐       ┌────┬────┬───┬───┬───┬────┐
//    │ 🛜❌ │ 🛜🔽 │ 🛜🔼 │      │      │      │       │ 🔇 │    │   │   │   │ 🖨️ │
//    ├──────┼──────┼──────┼──────┼──────┼──────┤       ├────┼────┼───┼───┼───┼────┤
//    │      │ 🛜 0 │ 🛜 1 │ 🛜 2 │ 🛜 3 │ 🛜 4 │       │ 🔊 │    │   │   │   │ 🔆 │
//    ├──────┼──────┼──────┼──────┼──────┼──────┤       ├────┼────┼───┼───┼───┼────┤
//    │      │  🔓  │      │      │      │      │       │ 🔉 │    │   │   │   │ 🔅 │
//    └──────┴──────┴──────┼──────┼──────┼──────┤       ├────┼────┼───┼───┴───┴────┘
//                         │  🔌  │  🔄  │  💾  │       │ 💾 │ 🔄 │   │
//                         └──────┴──────┴──────┘       └────┴────┴───┘
  &bt BT_CLR   &bt BT_PRV       &bt BT_NXT     &trans              &trans         &trans                 &kp C_MUTE     &trans       &trans   &trans   &trans   &kp PRINTSCREEN
  &trans       &bt BT_SEL 0     &bt BT_SEL 1   &bt BT_SEL 2        &bt BT_SEL 3   &bt BT_SEL 4           &kp C_VOL_UP   &trans       &trans   &trans   &trans   &kp C_BRI_UP
  &trans       &studio_unlock   &trans         &trans              &trans         &trans                 &kp C_VOL_DN   &trans       &trans   &trans   &trans   &kp C_BRI_DN
                                               &ext_power EP_TOG   &sys_reset     &bootloader            &bootloader    &sys_reset   &trans
            >;
        };
    };
};
