/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#include "keys/base.h"
#include "keys/42.h"

#define BASE  0
#define LOWER 1
#define RAISE 2
#define MOUSE 3
#define ADJUST 4

// Define your default speeds
#define ZMK_POINTING_DEFAULT_MOVE_VAL 3500
#define ZMK_POINTING_DEFAULT_SCRL_VAL 90
#define U_MOUSE_MOVE_EXPONENT 1
#define U_MOUSE_MOVE_TIME 1500
#define U_MOUSE_MOVE_DELAY 0
#define U_MOUSE_SCROLL_EXPONENT 1
#define U_MOUSE_SCROLL_TIME 2500
#define U_MOUSE_SCROLL_DELAY 0

// New Custom Defines
#define HYPER LC(LA(LS(LGUI)))
#define MEH LC(LS(LALT))
#define COPY LC(INS)
#define PASTE LS(INS)

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
//    ┌────┬───┬──────────────┬─────────────┬────────────┬───────────┐       ┌───────────┬────────────┬─────────────┬──────────────┬───┬────┐
//    │ ⇥  │ Q │ &hml HYPER W │ &hml MEH E  │     R      │     T     │       │     Y     │     U      │ &hmr MEH I  │ &hmr HYPER O │ P │ ⏎  │
//    ├────┼───┼──────────────┼─────────────┼────────────┼───────────┤       ├───────────┼────────────┼─────────────┼──────────────┼───┼────┤
//    │ ⌃⇥ │ A │   &hml ⇧ S   │  &hml ⌘ D   │  &hml ⌃ F  │ &hml ⌥ G  │       │ &hmr ⌥ H  │  &hmr ⌃ J  │  &hmr ⌘ K   │   &hmr ⇧ L   │ ; │ '  │
//    ├────┼───┼──────────────┼─────────────┼────────────┼───────────┤       ├───────────┼────────────┼─────────────┼──────────────┼───┼────┤
//    │ ⌘R │ Z │      X       │      C      │     V      │ &hml ⌃⌥ B │       │ &hmr ⌃⌥ N │     M      │      ,      │      .       │ / │ ⌃W │
//    └────┴───┴──────────────┼─────────────┼────────────┼───────────┤       ├───────────┼────────────┼─────────────┼──────────────┴───┴────┘
//                            │ LT MOUSE 🌍 │ LT LOWER ⎋ │  &tm ⇧ ␣  │       │  &tm ⇧ ␣  │ LT RAISE ⌫ │ LT ADJUST ⌦ │
//                            └─────────────┴────────────┴───────────┘       └───────────┴────────────┴─────────────┘
  &kp TAB       &kp Q   &hml HYPER W    &hml MEH E          &kp R           &kp T                      &kp Y              &kp U            &hmr MEH I       &hmr HYPER O    &kp P      &kp RET
  &kp LC(TAB)   &kp A   &hml LSHIFT S   &hml LGUI D         &hml LCTRL F    &hml LALT G                &hmr LALT H        &hmr LCTRL J     &hmr RGUI K      &hmr LSHIFT L   &kp SEMI   &kp SQT
  &kp LG(R)     &kp Z   &kp X           &kp C               &kp V           &hml LC(LALT) B            &hmr LC(LALT) N    &kp M            &kp COMMA        &kp DOT         &kp FSLH   &kp LC(W)
                                        &lt MOUSE K_CMENU   &lt LOWER ESC   &tm LSHIFT SPACE           &tm RSHIFT SPACE   &lt RAISE BSPC   &lt ADJUST DEL
            >;
        };

        lower_layer {
            bindings = <
//    ┌───┬────┬────┬────┬────┬───┐       ┌───┬───┬───┬───┬───┬───┐
//    │ ` │ ⌘Q │ ⌘W │ )  │ ]  │ } │       │ = │ 7 │ 8 │ 9 │ \ │   │
//    ├───┼────┼────┼────┼────┼───┤       ├───┼───┼───┼───┼───┼───┤
//    │ ~ │    │    │ (  │ [  │ { │       │ - │ 4 │ 5 │ 6 │ 0 │ | │
//    ├───┼────┼────┼────┼────┼───┤       ├───┼───┼───┼───┼───┼───┤
//    │   │    │    │ 📄 │ 📋 │   │       │ * │ 1 │ 2 │ 3 │ / │   │
//    └───┴────┴────┼────┼────┼───┤       ├───┼───┼───┼───┴───┴───┘
//                  │    │    │   │       │   │   │   │
//                  └────┴────┴───┘       └───┴───┴───┘
  &kp GRAVE   &kp LG(Q)   &kp LG(W)   &kp RPAR   &kp RBKT    &kp RBRC           &kp EQUAL   &kp N7   &kp N8   &kp N9   &kp BSLH   &trans
  &kp TILDE   &trans      &trans      &kp LPAR   &kp LBKT    &kp LBRC           &kp MINUS   &kp N4   &kp N5   &kp N6   &kp N0     &kp PIPE
  &trans      &trans      &trans      &kp COPY   &kp PASTE   &trans             &kp ASTRK   &kp N1   &kp N2   &kp N3   &kp FSLH   &trans
                                      &trans     &trans      &trans             &trans      &trans   &trans
            >;
        };

        raise_layer {
            bindings = <
//    ┌───┬─────┬────┬────┬────┬───┐       ┌───┬───┬───┬───┬────┬───┐
//    │   │ F12 │ F7 │ F8 │ F9 │   │       │ ⇱ │ ⇲ │ ⇞ │ ⇟ │ 🖨️ │   │
//    ├───┼─────┼────┼────┼────┼───┤       ├───┼───┼───┼───┼────┼───┤
//    │   │ F11 │ F4 │ F5 │ F6 │   │       │ ← │ ↓ │ ↑ │ → │    │   │
//    ├───┼─────┼────┼────┼────┼───┤       ├───┼───┼───┼───┼────┼───┤
//    │   │ F10 │ F1 │ F2 │ F3 │   │       │   │   │   │   │    │   │
//    └───┴─────┴────┼────┼────┼───┤       ├───┼───┼───┼───┴────┴───┘
//                   │    │    │   │       │   │   │   │
//                   └────┴────┴───┘       └───┴───┴───┘
  &trans   &kp F12   &kp F7   &kp F8   &kp F9   &trans           &kp HOME   &kp END    &kp PG_UP   &kp PG_DN   &kp PRINTSCREEN   &trans
  &trans   &kp F11   &kp F4   &kp F5   &kp F6   &trans           &kp LEFT   &kp DOWN   &kp UP      &kp RIGHT   &trans            &trans
  &trans   &kp F10   &kp F1   &kp F2   &kp F3   &trans           &trans     &trans     &trans      &trans      &trans            &trans
                              &trans   &trans   &trans           &trans     &trans     &trans
            >;
        };

        mouse_layer {
            bindings = <
//    ┌───┬───┬───┬───┬───┬───┐       ┌───────┬───────┬───────┬───────┬──────┬───┐
//    │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │       │   ∅   │   ∅   │   ∅   │   ∅   │  ∅   │ ∅ │
//    ├───┼───┼───┼───┼───┼───┤       ├───────┼───────┼───────┼───────┼──────┼───┤
//    │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │       │  🖱️←  │ 🖱️📜↓ │  🖱️↑  │  🖱️→  │ 🖱️F5 │ ∅ │
//    ├───┼───┼───┼───┼───┼───┤       ├───────┼───────┼───────┼───────┼──────┼───┤
//    │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │ ∅ │       │ 🖱️📜← │ 🖱️📜↓ │ 🖱️📜↑ │ 🖱️📜→ │ 🖱️B4 │ ∅ │
//    └───┴───┴───┼───┼───┼───┤       ├───────┼───────┼───────┼───────┴──────┴───┘
//                │ ∅ │ ∅ │ ∅ │       │  🖱️L  │  🖱️R  │  🖱️M  │
//                └───┴───┴───┘       └───────┴───────┴───────┘
  &none   &none   &none   &none   &none   &none           &none            &none            &none          &none             &none      &none
  &none   &none   &none   &none   &none   &none           &mmv MOVE_LEFT   &mmv MOVE_DOWN   &mmv MOVE_UP   &mmv MOVE_RIGHT   &mkp MB5   &none
  &none   &none   &none   &none   &none   &none           &msc SCRL_LEFT   &msc SCRL_DOWN   &msc SCRL_UP   &msc SCRL_RIGHT   &mkp MB4   &none
                          &none   &none   &none           &mkp MB1         &mkp MB2         &mkp MB3
            >;
        };

        adjust_layer {
            bindings = <
//    ┌──────┬────┬────┬────┬────┬────┐       ┌────┬────┬───┬───┬───┬───┐
//    │ 🛜❌ │ 🔇 │    │    │    │ 🔌 │       │    │    │   │   │   │   │
//    ├──────┼────┼────┼────┼────┼────┤       ├────┼────┼───┼───┼───┼───┤
//    │ 🛜🔼 │ 🔊 │ 🔆 │    │    │    │       │    │ ⏮  │ ⏯ │ ⏭ │   │   │
//    ├──────┼────┼────┼────┼────┼────┤       ├────┼────┼───┼───┼───┼───┤
//    │ 🛜🔽 │ 🔉 │ 🔅 │    │ 🔄 │ 💾 │       │ 💾 │ 🔄 │   │   │   │   │
//    └──────┴────┴────┼────┼────┼────┤       ├────┼────┼───┼───┴───┴───┘
//                     │ 🔓 │    │    │       │    │    │   │
//                     └────┴────┴────┘       └────┴────┴───┘
  &bt BT_CLR   &kp C_MUTE     &trans         &trans           &trans       &ext_power EP_TOG           &trans        &trans       &trans     &trans       &trans   &trans
  &bt BT_NXT   &kp C_VOL_UP   &kp C_BRI_UP   &trans           &trans       &trans                      &trans        &kp C_PREV   &kp C_PP   &kp C_NEXT   &trans   &trans
  &bt BT_PRV   &kp C_VOL_DN   &kp C_BRI_DN   &trans           &sys_reset   &bootloader                 &bootloader   &sys_reset   &trans     &trans       &trans   &trans
                                             &studio_unlock   &trans       &trans                      &trans        &trans       &trans
            >;
        };
    };
};


#include "includes/mods.dtsi"
#include "includes/combos.dtsi"
#include "includes/mouse.dtsi"
